ul{
    margin-top: 200px;
    margin-left: 200px;
}
ul li{
    height: 10px;
    width: 10px;
    background-color: black;
    display: inline-block;
    border-radius: 50%;
    margin: 30px;
    border: 2px solid white;
    animation: glow 2s infinite linear;
}
@keyframes glow {
    0% , 50% , 75% , 100%{
        transform: scale(0.3,0.3);
    }
    25%{
        transform: scale(5.5);
    }
}
ul li:nth-child(1){
    animation-delay: 0.1s;
    background-color: darkred;
    box-shadow: 0 0 30px darkred;
}
ul li:nth-child(2){
    animation-delay: 0.2s;
    background-color: blue;
    box-shadow: 0 0 30px blue;
}
ul li:nth-child(3){
    animation-delay: 0.3s;
    background-color: yellow;
    box-shadow: 0 0 30px yellow;
}
ul li:nth-child(4){
    animation-delay: 0.4s;
    background-color: green;
    box-shadow: 0 0 30px green;
}
ul li:nth-child(5){
    animation-delay: 0.5s;
    background-color: purple;
    box-shadow: 0 0 30px purple;
}
ul li:nth-child(6){
    animation-delay: 0.6s;
    background-color: red;
    box-shadow: 0 0 30px red;
}